*.log
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/mu-plugins/
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

data/acme.json
.env.save
.DS_Store
._.DS_Store
wordpress/wp-data/.htaccess
data/configurations/dynamic.yml
wordpress/wp-data/*
data/traefik.yml
core
